<!DOCTYPE html>
<html>
  <head>
    <title>ChatBox</title>
    <%= stylesheet_link_tag    "chatBox/application", media: "all" %>
    <%= javascript_include_tag "chatBox/application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>

  <%= yield %>

  </body>
</html>