<div id="chat-box-container">
  <% conversations.each do |conversation| %>
    <%= render 'chat_box/conversations/conversation', conversation: conversation, user: current_user %>
  <% end %>

  <div class="chat-box-list">
    <div class="panel panel-primary">
      <div class="panel-heading list-heading">
        <h3 class="panel-title"><%= option[:title] %></h3>
      </div>
      <div class="panel-body list-body">
        <ul id='chat_box_online_users'>
          <%= render partial: "chat_box/user/user", collection: current_user.chat_list, as: :user %>
        </ul>
      </div>
    </div>
  </div>
</div>
